spring:
  application:
    name: travel-service
  profiles:
    active: prod

server: # 내장 서버 구성
  servlet: # 서블릿 관련 설정
    context-path: /api # 전체 API에 붙일 context-path
    port: 8080


ai:
  base-url: http://localhost:8000
  mock-enabled: false